<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a9dd56a7-ca94-4767-b1ca-6581112259ad/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/FruitAPI20231030093940AppService</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <ApiResourceId>/subscriptions/a9dd56a7-ca94-4767-b1ca-6581112259ad/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.ApiManagement/service/FruitAPIapi/apis/FruitAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fruitapi20231030093940appservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>191a19d8-4365-4b8b-9cdf-f90fadebe2ab</ProjectGuid>
    <MSDeployServiceURL>fruitapi20231030093940appservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FruitAPI20231030093940AppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FruitAPI20231030093940AppService</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>